.main {
  /* flex-direction: column; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  /* min-height: 100vh; */
  background-color: #242424;
  
}

